.sticky__header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0a1d37;

    .nav__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
            column-gap: 8px;

            h1 {
                font-size: 2rem;
                font-weight: 900;
                color: white;
            }
        }

        .navigation {
            .menu {
                display: flex;
                align-items: center;
                column-gap: 1.5rem;
                font-size: 1rem;
                margin-bottom: 0;
                color: white;

                .nav__item {
                    color: #fff;
                    opacity: 0.8;
                    cursor: pointer;

                    .nav__active {
                        font-weight: 600 !important;
                    }
                }
            }
        }

        .nav__icons {
            display: flex;
            align-items: center;
            column-gap: 1.2rem;
            color: white;

            span i {
                font-size: 1.5rem;
                color: white;
                cursor: pointer;
            }

            .profile {
                position: relative;
                z-index: 9;

                img {
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    border-radius: 50%;
                }

                .profile__actions {
                    position: absolute;
                    top: 98%;
                    left: -100px;
                    width: 150px;
                    z-index: 10;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    background-color: #0a1d37;
                    line-height: 30px;
                    display: none;
                    cursor: pointer;
                }

                .show__profileActions {
                    display: block !important;

                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .navigation {
        display: none;
    }
}